@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  min-height: 100vh;
}

header {
  height: 20vh;
  display: flex;
  align-items: center;
  background-image: -webkit-linear-gradient(left, #ab058b 0, indigo 100%);
}

.HeaderBackground {
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(26, 23, 23);
}

header a {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-family: soleto, sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: bolder;
  font-size: 2.7vh;
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: rgb(26, 23, 23);
}

button {
  background-color: white;
}

button:hover {
  background-color: lightgreen;
}

header a:hover {
  background-color: rgb(43, 39, 39);
}

.active {
  background-color: rgb(56, 53, 53);
}

.NtiLoggaHeader {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  height: 12vh;
  width: 12vw;
  background-color: rgb(26, 23, 23);
}

.NtiloggaHeader:hover {
  background-color: gray;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav {
  width: 20vw;
  height: 65vh;
  padding-left: 5vw;
}
nav h4,
h3 {
  padding-top: 3vh;
}
article {
  width: 80vw;
  height: 60vh;
}

#startSida {
  display: flex;
}

h3 {
  font-size: 1.5vw;
}

h4 {
  font-size: 1vw;
}
.schema {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 35vw;
  display: grid;
  height: 60vh;
  overflow-y: auto;
  grid-template-rows: 5vw 30vw;
}

.schemanav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.schemanav button {
  margin-right: 2vw;
  margin-left: 2vw;
  border: none;
}

#idag {
  background-color: green;
}

.annat {
  width: 40vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.annat div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  border: 0.2vh solid black;
}

.hidden {
  display: none !important;
}

footer {
  background-image: -webkit-linear-gradient(left, #ab058b 0, indigo 100%);
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 15vh;
}

footer img {
  height: 15vh;
  width: 12vw;
}
.ämne {
  height: 10vh;
  border: solid gray 1px;
  border-left: gray solid 5px;
}
#kalender {
  height: 100%;
}
#kalenderram {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lektioner div:first-of-type {
  border-left: solid 5px green;
  border-top-right-radius: 10px;
}

#lektioner div:last-of-type {
  border-bottom-right-radius: 10px;
}
.ämne p {
  font-size: 0.7vw;
  margin-top: 0.5vw;
}

#skolInfo {
  grid-column: 1/4;
  font-family: Lato, sans-serif;
  width: 100%;
<<<<<<< HEAD
  height: 120vh;
=======
  height: 400vh;
>>>>>>> 5aa8262857225eb8ac2b0f8f4fbdf869d2db3ae6
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#datum {
  padding-top: 5%;
  grid-column: 1 / span 2;
  grid-row: 1;
  padding-left: 5%;
}
#datum ul,
#elevhälsa ul,
#information ul {
  list-style-type: none;
  padding-top: 3%;
}

#elevhälsa li,
#information li {
  padding-bottom: 2%;
}
#datum ul dt,
#elevhälsa ul dt,
#information ul dt {
  padding-bottom: 2%;
}

#information {
  grid-row: 2;
  padding-left: 5%;
  padding-right: 2%;
}

#elevhälsa {
  grid-row: 3;
  padding-right: 5%;
  padding-left: 2%;
}

#kontakt {
  grid-column: 1/2;
  grid-row-start: 4;
}

#skolinfo div {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 0/5;
}

#minProfil {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.profilBild {
  width: 30vw;
  display: flex;
  margin-left: 4vw;
  flex-direction: column;
  font-family: Lato, sans-serif;
}
.chad {
  margin-top: 7vh;
  max-height: 25vh;
  max-width: 25vh;
  margin-bottom: 2vh;
  border-radius: 50%;
}
