* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 20vh;
  display: flex;
  align-items: center;
  background-image: -webkit-linear-gradient(left, #ab058b 0, indigo 100%);
}

.HeaderBackground {
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(26, 23, 23);
}

header a {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-family: soleto, sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: bolder;
  font-size: 2.7vh;
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: rgb(26, 23, 23);
}

header a:hover {
  background-color: rgb(43, 39, 39);
}

.active {
  background-color: rgb(56, 53, 53);
}

.NtiLoggaHeader {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  height: 12vh;
  width: 12vw;
  background-color: rgb(26, 23, 23);
}

.NtiloggaHeader:hover {
  background-color: gray;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav {
  width: 20vw;
  height: 60vh;
}
nav h4 {
}
article {
  width: 80vw;
  height: 60vh;
}

#startSida {
  display: flex;
}

h3 {
  font-size: 1.5vw;
}

h4 {
  font-size: 1vw;
}
.schema {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 35vw;
  display: grid;
  height: 60vh;
  overflow-y: auto;
  grid-template-rows: 5vw 30vw;
}

.schemanav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.annat {
  width: 40vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.annat div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  border: 0.2vh solid black;
}

.hidden {
  display: none !important;
}

footer {
  background-image: -webkit-linear-gradient(left, #ab058b 0, indigo 100%);
  margin-top: auto;
  min-height: 11vh;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

footer img {
  height: 15vh;
  width: 12vw;
}
.ämne {
  height: 10vh;
  border: solid gray 1px;
  border-left: gray solid 5px;
}
#kalender {
  height: 100%;
}
#kalenderram {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lektioner div:first-of-type {
  border-left: solid 5px green;
  border-top-right-radius: 10px;
}

#lektioner div:last-of-type {
  border-bottom-right-radius: 10px;
}
.ämne p {
  font-size: 0.7vw;
  margin-top: 0.5vw;
}
