@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  min-height: 100vh;
}

header {
  height: 20vh;
  display: flex;
  align-items: center;
  background-image: -webkit-linear-gradient(left, #ab058b 0, indigo 100%);
}

.budgetborder {
  border: black solid 1px;
}

.HeaderBackground {
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(26, 23, 23);
}

header a {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-family: soleto, sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: bolder;
  font-size: 2.7vh;
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: rgb(26, 23, 23);
}

button {
  background-color: white;
}

button:hover {
  background-color: lightgreen;
}

header a:hover {
  background-color: rgb(43, 39, 39);
}

h5 {
  font-size: 1.3vw;
}

.active {
  background-color: rgb(56, 53, 53);
}

.NtiLoggaHeader {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  height: 12vh;
  width: 12vw;
  background-color: rgb(26, 23, 23);
}

.NtiloggaHeader:hover {
  background-color: gray;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#sidebar a {
  padding-top: 3vh;
  text-decoration: none;
  color: rgb(27, 59, 199);
}

#sidebar {
  display: flex;
  flex-direction: column;
}

nav {
  width: 20vw;
  height: 65vh;
  padding-left: 5vw;
}
nav h4,
h3 {
  padding-top: 3vh;
}
article {
  width: 80vw;
  height: 60vh;
}

#startSida {
  display: flex;
}

h3 {
  font-size: 1.5vw;
}

h4 {
  font-size: 1vw;
}
.schema {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 1vw;
  width: 35vw;
  display: grid;
  grid-template-rows: 9vw 30vw;
}

.schemanav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.schemanav button {
  margin: 2vw;
  margin-top: 1vw;
  border: none;
}

#idag {
  background-color: green;
}

.annat {
  width: 40vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.annat div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  border: 0.2vh solid black;
}

.hidden {
  display: none !important;
}

footer {
  background-image: -webkit-linear-gradient(left, #ab058b 0, indigo 100%);
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 15vh;
}

footer img {
  height: 15vh;
  width: 12vw;
}
.ämne {
  height: 10vh;
  border: solid gray 1px;
  border-left: gray solid 5px;
}
#kalender {
  height: 100%;
}
#kalenderram {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lektioner div:first-of-type {
  border-left: solid 5px green;
  border-top-right-radius: 10px;
}

#lektioner div:last-of-type {
  border-bottom-right-radius: 10px;
}

.ämne p {
  font-size: 0.7vw;
  margin-top: 0.5vw;
}

#skolInfo {
  grid-column: 1/4;
  font-family: Lato, sans-serif;
  width: 100%;
  height: 400vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 20vh;
}

.skolinfo {
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.svartbakgrund {
  background-color: rgb(56, 56, 56);
  color: rgb(199, 175, 175);
}

.skolinfo2 {
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000000,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  backdrop-filter: brightness(60%);
}

#hösttermin {
  background-image: url("Images/höst.png");
  padding: 2vh;
}
#datum {
  padding-top: 0%;
}
#datum dt {
  font-size: 2vw;
}
#hösttermin,
#vårtermin {
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4vh 1fr 4vh;
  padding-bottom: 3vh;
}
#vårtermin {
  background-image: url("Images/vår.png");
}

.kort {
  border: solid gray 1px;
  border-radius: 8%;
  backdrop-filter: blur(4px);
  grid-column: 2;
  grid-row: 2;
}

.mitten {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kort h3 {
  font-size: 1.6vw;
  padding-bottom: 0.2vh;
}
.kort p {
  padding-left: 1vw;
  padding-bottom: 0.2vh;
}

#datum {
  padding-top: 2%;
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#datum ul,
#elevhälsa ul,
#information ul {
  list-style-type: none;
}
#elevhälsa li,
#information li {
  padding-bottom: 2%;
}
#datum h1 {
  padding: 2vw;
}
#datum ul dt,
#elevhälsa ul dt,
#information ul dt {
  padding-bottom: 2%;
}

#information {
  grid-row: 2;
}

#elevhälsa {
  grid-row: 3;
  padding-right: 5%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#elevhälsa > * {
  margin: 2vw;
}

#rökning {
  grid-column: 1/2;
  grid-row-start: 4;
  display: grid;
  grid-template-columns: 15vw 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 40vh;
}

#rökning h2 {
  grid-column: 3;
  grid-row-start: 1;
  padding: 2vw;
}

#rökningsinfo2 {
  padding: 1vw;
  grid-column: 2;
  grid-row-start: 3;
}

#rökningsinfo1 {
  padding: 1vw;
  grid-row-start: 2;
  grid-column-start: 2;
}

#rökning img {
  grid-row: 2/4;
  grid-column: 3/5;
  width: 40vw;
}

#skolinfo div {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 0/5;
}
.scroll-horizontellt {
  width: 90vw;
  margin-right: 4vw;
  margin-left: 4vw;
  display: grid;
  grid-template-columns: 10vw 1fr 1fr 1fr 10vw;
  height: 20vh;
}

.knappvänster :hover,
.knapphöger :hover {
  padding: 1vw;
}

.hälsinfo {
  position: absolute;
  padding-left: 1vw;
  padding-right: 1vw;
}
.knapphöger {
  grid-column: 5/5;
}
.knappvänster {
  grid-column: 1/1;
}

#minProfil {
  display: grid;
  height: 90vh;
  grid-template-columns: 27.93vw 40vw 31vw;
}
.profilBild {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  font-family: Lato, sans-serif;
  align-items: center;
}

.profilBild div {
  margin-top: 5vh;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 5vh;
  border-radius: 5%;
}

.genomskinligBakgrund div {
  background-color: rgba(223, 219, 219, 0.692);
}

.profilInfo {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px rgb(121, 114, 114) solid;
  border-right: 2px rgb(121, 114, 114) solid;
}

.profilListaRubrik {
  background-color: rgba(95, 86, 86, 0.699);
  width: 40vw;
  padding-bottom: 4vh;
  padding-top: 4vh;
  margin-bottom: 8vh;
}

.profilListaRubrik h1 {
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 3vh;
}

.profilLista ul li {
  margin-bottom: 2vh;
  list-style-type: none;
  font-family: Lato, sans-serif;
}

.profilLista div {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vh;
}

.profilLista h1 {
  font-size: 1, 7vh;
}
.profilLista h2 {
  font-size: 1, 7vh;
  justify-content: flex-end;
}

.profilInst {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilInst section {
  width: 31vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  background-color: rgba(172, 158, 158, 0.699);
  margin-bottom: 8vh;
}

.profilInst h1 {
  font-family: Lato, sans-serif;
  font-size: 3vh;
  display: flex;
  justify-content: center;
}

.profilInst div {
  background-color: rgba(241, 237, 237, 0.651);
  width: 27vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
  display: flex;
  align-items: center;
}

.profilInst label {
  font-family: Lato, sans-serif;
  font-size: 2vh;
  font-weight: bold;
}

.lösen {
  display: flex;
  justify-content: space-between;
}

.lösen input {
  margin-right: 1vh;
}

.spara {
  display: flex;
  justify-content: flex-end;
}

.spara input {
  margin-right: 1vh;
  padding: 0.8vh;
  background-color: greenyellow;
  text-shadow: none;
  border-style: outset;
  border-color: rgba(216, 210, 210, 0.651);
  border-radius: 10%;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 2vh;
}

.spara input:hover {
  background-color: rgb(141, 211, 36);
}

input[type="checkbox"] {
  height: 2.5vh;
  width: 2.5vh;
  margin-right: 1.2vh;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="text"] {
  padding: 0.7vh;
  width: 25vh;
  font-family: Lato, sans-serif;
  font-size: 1.8vh;
}

input[type="text"]:focus {
  background-color: lightblue;
}

.chad {
  height: 25vh;
  width: 25vh;
  margin-bottom: 2vh;
  border-radius: 50%;
}

.matkort {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2vw;
  background-color: lightgreen;
}

.matkort2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2vw;
  background-color: darkgreen;
}

#matkortinfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2vw;
}

#matkortinfo div {
  padding: 1vw;
}

.sl {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid black 2px;
  padding-bottom: 2vh;
}

.sl h2 {
  padding-top: 3vh;
}

#slkort {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.5vw;
}

.kolumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tutorial {
  padding-top: 2%;
}
#frukost {
  grid-row: 5;
}

#darkmode {
  background-color: rgb(26, 23, 23);
  width: 5vw;
  border: none;
}

#darkmode img {
  width: 100%;
}

#ämnen h4 {
  font-size: 1.3vw;
  background-color: rgba(223, 219, 219, 0.692);
  padding: 0.3vw;
}

#ämnen {
  display: grid;
  grid-template-rows: 7vh 1fr;
}
#ämnenheader {
  display: grid;
  grid-template-columns: 1fr 20vw;
}
#ämnenmain {
  display: grid;
  grid-template-rows: 1fr 1.3fr;
}
#ämnenrad1,
#ämnenrad2 {
  display: grid;
  grid-template-columns: 1fr 30vw;
  grid-row: 1;
}
#ämnenrad2 {
  grid-row: 2;
}

#uppgifter,
#lärare {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 5vh 1fr;
}

#uppgifter img,
.resultat img {
  width: 5vw;
  padding-top: 1vh;
  padding-right: 1vw;
}

#uppgifter p,
.resultat p {
  font-size: 1vw;
  padding-top: 2vh;
}
#uppgifter strong,
.resultat strong {
  font-size: 1.2vw;
}

#ämnen h4 {
  grid-column: 1/4;
}

.uppgift {
  grid-row: 2;
  border-left: blue 10px solid;
}

#lärare p {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
#lärare p strong {
  margin-right: 2vw;
  margin-left: 0.3vw;
}
#kursmatris {
  cursor: zoom-in;
}

#resultat {
  display: flex;
  flex-direction: column;
}
.resultat,
.uppgift {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-radius: 0px 15px 15px 0px;
  margin-left: 1vw;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
}
.resultat {
  border: 1px black solid;
  border-left: green 10px solid;
  grid-column: 1;
}
.resultatgrid {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}
#studieplan {
  height: 200vh;
  display: grid;
  grid-template-rows: 10vh auto;
  width: 60vw;
  margin-top: 2vh;
}
.kurser {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1vw;
  font-family: sans-serif;
  min-width: 10vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.kurser thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.kurser th,
.kurser td {
  padding: 12px 15px;
}
.kurser tbody tr {
  border-bottom: 1px solid #dddddd;
}
.kurser tbody tr:nth-last-of-type(even) {
  background-color: #f3f3f3;
}
.kurser tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
#sökning {
  width: 40vw;
  height: 5vh;
  border-radius: 10px;
}

.Visa {
  cursor: pointer;
}
